<header id ="homeHeader" class="jumbotron text-center text-white">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Oddit Market</h1>
    <p class="lead text-white">Something leading paragraph.</p>
    <p class="lead text-white">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <p class="lead text-white">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
      <a href="#" class="btn btn-primary">some action</a>
      <a href="#" class="btn btn-secondary">other action</a>
    </p>
  </div>
</header>


<section id="home">
    <div class="container">
        <div id="home-header">
            <h2>Recent Display</h2>
            <!--<p class="lead">title 1 description</p>-->
            <hr>
        </div>       
            <% @disprod.each_slice(3) do |i| %>
            <div class="row">
                <% i.each do |j| %>
                <div class="col-md-4">
                    <div class="disproduct">
                        <div class="disimage">
                        <% if logged_in? %>
                            <%= link_to j do %>
                            <%= image_tag j.image.url(:medium) %>
                            <% end %>
                        <% else %>
                            <%= link_to login_path(@sessions) do %>
                            <%= image_tag j.image.url(:medium) %>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                    <h4> <%= j.dp_name %> </h4>
                <% end %>
                </div>
            <% end %>
            </div><!--row-->
        
    <br><br><br><br><br>
        
        <div id="home-header">
            <h2>Recent Sale</h2>
            <!--<p class="lead">title 2 description</p>-->
            <hr>
        </div>
            <% @forsale.each_slice(3) do |k| %>
            <div class="row">
                <% k.each do |j| %>
                <div class="col-md-4">
                    <div class="salproduct">
                        <div class="salimage">
                        <% if logged_in? %>
                            <%= link_to j do %>
                            <%= image_tag j.fs_image.url(:medium) %>
                            <% end %>
                        <% else %>
                            <%= link_to login_path(@sessions) do %>
                            <%= image_tag j.fs_image.url(:medium) %>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                    <h4><%= j.fs_name %> </h4>
                    <h4>$ <%= j.fs_price %></h4>
                <% end %>
                </div>
            <% end %>
            </div><!--row-->
        
    <br><br><br><br><br>
    
        <div id="home-header1">
            <h2>Recent Auction</h2>
            <!--<p class="lead">title 3 description</p>-->
            <hr>
        </div>
            <% @forauction.each_slice(3) do |i| %>
            <div class="row">
                <% i.each do |j| %>
                <div class="col-md-4">
                    <% if logged_in? %>
                        <%= link_to j do %>
                        <%= image_tag j.fa_image.url(:medium) %>
                        <% end %>
                    <% else %>
                        <%= link_to login_path(@sessions) do %>
                        <%= image_tag j.fa_image.url(:medium) %>
                        <% end %>
                    <% end %>
                    <h4> <%= j.fa_name %> </h4>
                    <h4>$ <%= j.fa_baseprice %></h4>
                <% end %>
                </div>
            <% end %>
            </div><!--row-->
</div><!--container-->
</section><!--departent-->

