<% provide(:title, "Log in") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Log in</title>
  </head>

  <body>
    <div class="body">
       <%= form_for(:session, url: login_path) do |f| %> 
      <h2 class="form-signin-heading">Please login</h2>
      <div class="account">
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p> 
  </div>
 
</body>
</html>

<style>
.body{width:auto;padding-right:40%;padding-left:40%;}
.form-signin-heading{padding-left: 20%;}
</style>