<% provide(:title, "Log in") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Log in</title>
  </head>

  <body>
    <div class="row">
    <div class="col">
       <%= form_for(:session, url: login_path) do |f| %> 
      <h2 class="form-signin-heading">Please login</h2>
      <div class="account">
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p> 
  </div>
  </div>
 
</body>
</html>

<style>
.col{#margin-left: 800px;#margin-right: 800px;
  display:inline-block;
  *display:inline;
  *zoom:1;}
.form-signin-heading{margin-left: 70px;}
.login1{margin-left: 100px}
</style>