<% provide(:title, 'Sign up') %> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sign up</title>


    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <link href="signin.css" rel="stylesheet">


    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

    <div class="container">
      <form class="form-signin">
        <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <h2 class="form-signin-heading">Please sign up</h2>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <%= f.submit "Create my account", class: "btn btn-primary" %> 
      </form>
    <% end %>
    </div> 


    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>