<% provide(:title, 'Sign up') %> 
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="media-queries.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign up</title>


    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <div class="body">
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <h2 class="form-signin-heading">Please sign up</h2>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <%= f.submit "Create my account", class: "btn btn-primary" %> 
      <% end %>
    </div> 

  </body>
</html>

<style type="text/css">
@media screen and (min-width: 901px) {
  .body{width:auto;padding-right:40%;padding-left:40%;}
  .body {font:normal 100% Arial,sans-serif;font-size:1.4rem; } 
  .form-signin-heading{padding-left: 20%;}
}
@media screen and (max-width: 900px) {
  .body{width:auto;padding-right:20%;padding-left:20%;}
  .body {font:normal 100% Arial,sans-serif;font-size:1.4rem; } 
  .form-signin-heading{padding-left: 10%;}
}
</style>
