<% provide(:title, @user.name) %> 
      <section class="user_info">
        <h1>
            <%= gravatar_for @user %> </br>
            Name :<%= @user.name %> </br>
            ID : <%= current_user.id %>
        </h1>
        
        <h2>My Display Items</h2>
        <% @disprod.each_slice(3) do |i| %>
          <div class="row">
          <% i.each do |j| %>
            <div class="col-md-4">
              <% if current_user.id == j.user_id %>
                <div class="disimage">
                <%= link_to j do %>
                  <%= image_tag j.image.url(:small) %>
                <%end%>
                </div>
              <%end%>
            </div>
          <%end%>
          </div>
        <%end%>
        
        <br><br><br>
        <hr>
        
        <h2>My Sales Items</h2>
        <% @forsale.each_slice(3) do |i| %>
          <div class="row">
          <% i.each do |j| %>
            <div class="col-md-4">
              <% if current_user.id == j.user_id %>
                <div class="salimage">
                <%= link_to j do %>
                  <%= image_tag j.fs_image.url(:small) %>
                <%end%>
                </div>
              <%end%>
            </div>
          <%end%>
          </div>
        <%end%>
      </section>
      
<style>
@media screen and (min-width: 901px) {
  .user_info{width:auto;text-align:center;padding-top:5%;}
}
@media screen and (max-width: 900px) {
  .user_info{width:auto;text-align:center;padding-top:5%;}
}
</style>