<div class="New Product Form">

<%= form_for @forsale do |i| %>
  <%= render "forsales/error_messages" %>

  <div class="panel-body">
      <p>
      <%= i.hidden_field :user_id , :value => current_user.id %>
      <p>
        
      <p>
      <%= i.label :fs_name, "Product Name" %>
      <%= i.text_field :fs_name, class: 'form-control' %>
      </p>
      
      <p>
      <%= i.label :fs_desc, "Description" %>
      <%= i.text_area :fs_desc, class: 'form-control' %>
      </p>
      
      <p>
      <%= i.label :fs_image, "Upload Image" %>
      <%= i.file_field :fs_image, class: 'form-control' %>
      </p>
      
      <p>
      <%= i.label :fs_price, "Enter Price" %>
      <%= i.number_field :fs_price, class: 'form-control' %>
      </p>     
      
      <p>
      <%= i.label :sold, "Sold/Not Sold" %>
      <%= i.text_field :sold, class: 'form-control'%>
      </p>   
      
  </div>
  <%= i.submit "confirm", class: "btn btn-primary" %>
  
<% end %>

</div>