<%= link_to "Upload An Art for Sale", new_forsale_path, class: "btn btn-default" %>

<% @forsale.each_slice(3) do |i| %>
  <div class="row">
    <% i.each do |j| %>
      <div class="col-md-4">
        <div class="salproduct">
          <div class="salimage">
            <%= link_to j do %>
              <%= image_tag j.fs_image.url(:medium) %>
            <% end %>
          </div>
          <h2>
            <%= link_to j.fs_name, j %>
            <h4>$ <%= j.fs_price %></h4>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_tag forsales_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
    <%= submit_tag "Search", name: nil %>
<% end %>

