<header id ="subpageHeader" class="jumbotron text-white">
  <div class="container">
    <h1 class="jumbotron-heading">Sale</h1>
    <p class="lead text-white">Start your online sale</p>
    </p>
  </div>
</header>

    <div class="Search">
      <%= link_to "Upload An Art for Sale", new_forsale_path, class: "btn btn-primary" %>
      <%= form_tag forsales_path,class:"tag",method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      <%= submit_tag "Search", name: nil %>
      
      <%end%>
    </div>

  
  <% @forsale.each_slice(3) do |i| %>
    <div class="row">
      <% i.each do |j| %>
        <div class="col-md-4">
          <div class="salproduct">
            <div class="salimage">
              <%= link_to j do %>
                <%= image_tag j.fs_image.url(:medium) %>
              <% end %>
            </div>
            <h2 class="name_price_center">
              <%= link_to j.fs_name, j %>
              <h4 class="name_price_center">$ <%= j.fs_price %></h4>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</html>


<style type="text/css">
@media screen and (min-width: 901px) {
  .tag{margin-left:85%;position:absolute;}
  .btn{position:absolute;margin-left: 1%;}
  .row{font:normal 100% Arial,sans-serif;font-size:1.4rem;padding-top:5%; } 
  .salimage{width:auto;text-align:center;}
  .name_price_center{width:auto;text-align:center;}
  .form-signin-heading{padding-left: 20%;}
}
  
@media screen and (max-width: 900px) {
  .body {font:normal 100% Arial,sans-serif;font-size:1.4rem; } 
  .form-signin-heading{padding-left: 10%;}
  .btn{margin-left:18%;text-align:center;margin-top:1%;margin-bottom:1%;}
  .salimage{width:auto;text-align:center;}
  .tag{padding-left:18%;padding-top:1%;margin-top:1%}
}
</style>
