<% provide(:title, @forsale.fs_name) %>
<%= image_tag @forsale.fs_image.url(:medium, class: "item_image") %>
<h1><%= @forsale.fs_name %></h1>
<h4>$ <%= @forsale.fs_price %></h4>
<p>
  <%= @forsale.fs_desc %>
</p>


<%= link_to "Back", forsales_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_forsale_path, class: "btn btn-default" %>
<%= link_to "Delete", forsale_path, method: :delete,  data: { confirm: "Are you sure?"}, class: "btn btn-default" %>