<header id ="auctionHeader" class="jumbotron text-white">
  <div class="container">
    <h1 class="jumbotron-heading">Auction</h1>
    <p class="lead text-white">Some Text</p>
    </p>
  </div>
</header>

<%= link_to "Upload An Art for Auction", new_forauction_path, class: "btn btn-default" %>

<% @forauction.each_slice(3) do |i| %>
  <div class="row">
    <% i.each do |j| %>
      <div class="col-md-4">
        <div class="aucproduct">
          <div class="aucimage">
            <%= link_to j do %>
              <%= image_tag j.fa_image.url(:medium) %>
            <% end %>
          </div>
          <h2>
            <%= link_to j.fa_name, j %>
          </h2>
          <h4>
            $ <%= j.fa_baseprice %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_tag forauctions_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
    <%= submit_tag "Search", name: nil %>
<% end %>
