
 <br>
    <div class="container">
      
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <!--<p class="float-right hidden-md-up">-->
          <!--  <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>-->
          <!--</p>-->
          <div class="jumbotron text-white" id="subpageHeader">
            <h1>Auction</h1>
            <p></p>
            <div>
              <%= link_to "Upload An Art for Auction", new_forauction_path, class: "btn btn-primary",style:"display:inline-block; margin-right:5%" %>
              <%= form_tag forauctions_path,style:"display:inline-block", method: :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search...", style:"display:inline-block" %>
                <%= submit_tag "Search", name: nil , style:"display:inline-block"%>
              <% end %>
            </div>            
          </div>
          
          <% @forauction.each_slice(3) do |i| %>
          <div class="row">
            <% i.each do |j| %>
            <div class="col-6 col-lg-4">
              <%= link_to j do %>
                <%= image_tag j.fa_image.url(:medium),class:"itemImage"%>
              <% end %>
              <p class="itemName" ><%= link_to j.fa_name, j %></p>

              <p class="itemPrice">$ <%= j.fa_baseprice %></p>
              <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
            </div><!--/span-->
            <% end %>
          </div><!--/row-->
          <% end %>
          
        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">CATEGORY</a>
            <a href="#" class="list-group-item">Category1</a>
            <a href="#" class="list-group-item">Category2</a>
            <a href="#" class="list-group-item">Category3</a>
            <a href="#" class="list-group-item">Category4</a>
            <a href="#" class="list-group-item">Category5</a>
            <a href="#" class="list-group-item">Category6</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->

</div>



<style>
@media screen and (min-width: 901px) {
  .row{width:auto;text-align:center;padding-top:5%;}
}

@media screen and (max-width: 900px) {
  .row{width:auto;text-align:center;padding-top:5%;}
  #.h1{width:auto;text-align:center;}
  #.item_image{margin-left:50%;}
}
</style>

