
<div class="New">

<%= form_for @disprod do |i| %>
  <%= render "disprods/error_messages" %>

  <div class="panel">
      <p>
      <%= i.hidden_field :user_id , :value => current_user.id %>
      <p>
        
      <p>
      <%= i.label :dp_name, "Product Name" %>
      <%= i.text_field :dp_name, class: 'form-control' %>
      </p>
      
      <p>
      <%= i.label :desc, "Description" %>
      <%= i.text_area :desc, class: 'form-control' %>
      </p>
      
      <p>
      <%= i.label :image, "Upload Image" %>
      <%= i.file_field :image, class: 'form-control' %>
      </p>
  </div>
  <%= i.submit "confirm", class: "btn btn-primary" %>
  
<% end %>

</div>


<style>
@media screen and (min-width: 901px) {
  .New{margin-left:30%;margin-right:30%;}
  
}

@media screen and (max-width: 900px) {
  .New{margin-left:20%;margin-right:20%;}
}
</style>