<!–[if lt IE 9]>
<script src=”http://html5shim.googlecode.com/svn/trunk/html5.js”></script>
<![endif]–>
<!–[if lt IE 9]>
<script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script>
<![endif]–>
<!--for display show-->
<!DOCTYPE html>
<html>
    <div class="body">
        <% provide(:title, @disprod.dp_name) %>
        <%= image_tag @disprod.image.url(:medium, class: "item_image") %>
        <h1><%= @disprod.dp_name %></h1>
        
        <p>
          <%= @disprod.desc %>
        </p>
        
        
        <%= link_to "Back", disprods_path, class: "btn btn-default" %>
        <%= link_to "Edit", edit_disprod_path, class: "btn btn-default" %>
        <%= link_to "Delete", disprod_path, method: :delete,  data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
    </div>
</html>


<style>
@media screen and (min-width: 9px) {
  .body{width:auto;text-align:center;padding-top:5%;}
  #.h1{width:auto;text-align:center;}
}
</style>


