<!DOCTYPE html>
<html>
  <head>
    <title>OdditMarket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "OddityMarket", root_path, id: "logo" %> 
    <nav>
      <ul> 
        <!--link_to 的第一个参数是链接文本，第二个参数是 URL
            #是Web 开发中经常使用的占位符-->
        <li><%=link_to"Home", root_path%></li> 
        <li><%=link_to"About", about_path%></li> 
        <li><%=link_to"Contact", contact_path%></li> 
        <li><%=link_to"Support", '#'%></li> 
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "Display", display_path %></li>
        <li><%= link_to "For Sale", '#' %></li>
        <li><%= link_to "For Auction", '#' %></li>

      </ul> 
    </nav>
    
    <%= yield %>
  </body>
</html>
